@font-face {
    font-family: myFirstFont;
    src: url(../../../../assets/Fonts/eurostile.woff);
  }
  

p{
    font-family: myFirstFont;
    font-size: 15.5px;
    font-weight: 800;
}

  
h5{
    font-family: 'Quicksand', sans-serif;
    color: rgb(82, 79, 79);
    
}

.card{
    /* outline: none; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 8px 18px 2px; */
    /* border-radius: 10px; */
    /* background-color: rgba(255, 255, 255, 0.425); */
    /* border-color: #ee696b93; */
    /* background-color: rgba(255, 255, 255, 0.74); */
    /* border-width: 0.124rem; */
    /* border:none; */
    
    /* border-color:  rgba(85, 40, 158, 0.993); */
  
}
.card > img{
    /* border-radius: 10px;
    border-bottom-left-radius:0 ;
    border-bottom-right-radius:0 ; */
}

.card:hover >img{
    /* transform: scaleY(1.03);
    transform: scaleX(1.03); */

    
    
      -webkit-transition: all 1s ease;
      -moz-transition: all  1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;

}
.card:hover >.msg{
    
    text-decoration: underline;
    

}


.myCard:hover {
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
    transform: scale(1.05);
    

}




.card-title{
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;
    padding: 1rem;
    /* background-color: #efefef; */
    text-align: center;
    pointer-events: none;

}



