<div  class="container-fluid" style="padding-top:10px;padding-bottom:50px;background-color: #ee696b0e;">
    <div class="container pt-5" style="position:relative;">
      <h5 class="d-inline-block ">LEADERBOARD GAMES</h5>
      <div class="row " style="justify-content: center;">
        <ng-container *ngFor="let game of Games;">
          <div  class="col-12 col-md-4 col-lg-3 mt-5" data-aos="flip-left">
            <div   class="myCard"  style="width: fit-content;height:100%;">
              <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium"> 
              <div class="text-center">
                <p>{{game.title}}</p>
            </div>
            </div>
            
          </div>
        </ng-container>
      </div>
  </div>

  

  <div class="container">
    <div class="row" style="justify-content: center;">
        <h5 class="d-inline-block ">SPORTS GAMES</h5>
        <div class="col-12 col-md-4 col-lg-6 ">
            <swiper
    [effect]="'cube'"
    [grabCursor]="true"
    [loop]="true"
    [autoplay]="{
      delay: 2000,
      disableOnInteraction: true
    }"
    [cubeEffect]="{
      shadow: false,
      slideShadows: false,
      shadowOffset: 20,
      shadowScale: 0.94
    }"
    [pagination]="true"
    class="mySwiper"
  >
    <ng-template swiperSlide *ngFor="let game of Games;">
              <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
              <div class="text-center"> 
                <p>{{game.title}}</p>
              </div>      
      </ng-template>
  </swiper>
        </div>

    </div>
  </div>
  
  

  <div class="container" style="margin-top: 30px;">
    <h5 class="d-inline-block ">RECOMMENDED GAMES</h5>
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-4 col-lg-6 ">
  <swiper
    [effect]="'coverflow'"
    [grabCursor]="true"
    [loop]="true"
    [centeredSlides]="true"
    [slidesPerView]="'auto'"
    [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: false
    }"
    [pagination]="true"
    class="mySwiper"
  >
  <ng-template swiperSlide *ngFor="let game of Games;">
    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium"> 
    <div class="text-center"> 
      <p>{{game.title}}</p>
    </div>
           
</ng-template>
  </swiper>
</div>

</div>
</div>

<div class="container" style="margin-top: 30px;">
    <h5 class="d-inline-block ">RECOMMENDED GAMES</h5>
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-4 col-lg-6 ">
            <swiper
            [loop]="true"
            [effect]="'flip'"
            [grabCursor]="true"
            [pagination]="true"
            [navigation]="true"
            [flipEffect]="{
              
              slideShadows: false
            }"

            [autoplay]="{
              delay: 3000,
              disableOnInteraction: true
            }"
            class="mySwiper"
          
          >
  <ng-template swiperSlide *ngFor="let game of Games;">
    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium"> 
    <div class="text-center"> 
      <p>{{game.title}}</p>
    </div>
       
</ng-template>
  </swiper>
</div>

</div>
</div>