<div class="container" style="overflow-x: hidden;overflow-y:hidden;" >
    
    <div class="row" style="justify-content: center;" >

        <div class="col-12 col-md-12 col-lg-12" >
            <div class="text-center" data-aos="">
        
                <h5 [routerLink]="[category]"  class="myHeading"><i class="fa fa-{{icon}} myGameIcon"></i>{{title}}<i class="fa fa-chevron-right myChevronRight"></i></h5>
                
            </div>
            <swiper
            [slidesPerView]="1"
            [slidesPerColumn]="1"
            [loop]="false"
            [spaceBetween]=""
            [lazy]="true"
            [pagination]="{
                dynamicBullets: true,
                clickable: true
              }"
              [breakpoints]="{
                '640': {
                  slidesPerView: 3,
                  spaceBetween: 30,
                  slidesPerColumn:1
                },
                '768': {
                  slidesPerView: 3,
                  spaceBetween: 30,
                  slidesPerColumn:1
                },
                '1024': {
                  slidesPerView: 3,
                  spaceBetween: 30,
                  slidesPerColumn:1
                }
              }"
            class=""
            >
            <ng-container  *ngFor="let game of AllGames;let last=last">
              <ng-template  swiperSlide >
                <div   [routerLink]="[category,game.id]">
                  <img  [lazyLoad]="game.banner_medium" class="card-img-top swiper-lazy"  alt="Game Banner">  
                  
                  <div class="text-center">  
                    
                      <p class="gameTitle">{{game.title}}</p>
                      <div *ngIf='last' [routerLink]="[category]" class="centered">View More</div>
                  </div> 
                  </div>
                  
                  <div class="swiper-lazy-preloader swiper-lazy-preloader-white">

                  </div> 
                   
            </ng-template>
            </ng-container>
            </swiper>
        </div>
    </div>
</div>

