<!-- Header -->
<nav class="navbar navbar-light myNav">
    <a class="container-fluid navbar-brand"  routerLink="">
      <img src="../../../assets/Logo/gameNow Final.png" width="45" height="40" alt="">
    </a>
  </nav>




<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a routerLink="home" class="nav-link" routerLink="">Home</a>
            </div>
            <div class="col-3">
                <a routerLink="home" class="nav-link" routerLink="/LeaderBoard">Leader Board Games</a>
            </div>
            <div class="col-3">
                <a routerLink="home" class="nav-link" routerLink="/Feature">Fetured Games</a>
            </div>
            <div class="col-3">
                <a routerLink="home" class="nav-link" routerLink="">Profile</a>
            </div>

    </div>
</div>

</div>



 