.footer {
    position: fixed;
    padding: 10px;
    right: 0;
    bottom: -5px;
    left: 0;
    padding: 0.1rem;
    text-align: center;
    font-size: 12px;
  }

  .tabs {
    --background: #FFFFFF;
    --grey: #C9CBD5;
    --primary: #4E29F0;
    --primary-light: #725AFC;
    --secondary: #FFD100;
    --width: 300px;
    --height: 75px;
    --border-radius: var(--height);
    background: var(--background);
    width: var(--width);
    height: var(--height);
    padding: 0;
    position: relative;
    /* border-radius: var(--border-radius); */
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    padding: 0 15px;
    /* box-sizing: border-box; */
  }
  