<router-outlet></router-outlet>


<!-- <app-action></app-action> -->
<!-- <app-adventure></app-adventure>
<app-board></app-board>
<app-card></app-card>
<app-educational></app-educational>
<app-family></app-family>
<app-memory></app-memory>
<app-multiplayer></app-multiplayer>
<app-puzzle></app-puzzle>
<app-sports></app-sports>
<app-strategy></app-strategy>
<app-word></app-word> -->



<ngx-scrolltop
[size]="50"
backgroundColor="transparent"
symbolColor="#8a252c"

position="right"
style="bottom: 40px;"

>
    <i style="color:#8a252c" class="fa fa-arrow-up"></i>
</ngx-scrolltop>


<!-- mode="smart" -->