 <div class="container" style="overflow-x: hidden;overflow-y:hidden;">
    
    <div class="row" style="justify-content: center;" >

        <div class="col-12 col-md-12 col-lg-12" data-aos="">
            <div class="text-center">
        
                <h5 [routerLink]="['/Feature']"  class="myHeading"><i class="fa fa-bookmark myGameIcon"></i>FEATURED GAMES<i class="fa fa-chevron-right myChevronRight"></i></h5>
                
            </div>
            <swiper
            [slidesPerView]="2"
            [slidesPerColumn]="1"
            [loop]="false"
            [spaceBetween]=""
            [lazy]="true"
            [pagination]="{
                dynamicBullets: false,
                clickable: true
              }"
              [breakpoints]="{
                '640': {
                  slidesPerView: 3,
                  spaceBetween: 30,
                  slidesPerColumn:1
                },
                '768': {
                  slidesPerView: 3,
                  spaceBetween: 30,
                  slidesPerColumn:1
                },
                '1024': {
                  slidesPerView: 3,
                  spaceBetween: 30,
                  slidesPerColumn:1
                }
              }"
            class=""
            >
            <ng-container *ngFor="let game of AllGames;">
              <ng-template swiperSlide *ngIf="game.genres.includes('Feature')">
                <div  [routerLink]="['/Feature',game.id]">
                  <img  class="card-img-top swiper-lazy"  [attr.data-src]="game.banner_medium" alt="Game Banner">  
                  
                  <div class="text-center">   
                      <p class="gameTitle">{{game.title}}</p>
                  </div> 
                  </div>
                  
                  <div class="swiper-lazy-preloader swiper-lazy-preloader-white">

                  </div> 
                   
            </ng-template>
            </ng-container>
            </swiper>
        </div>
    </div>
</div> 





<div class="container" style="overflow-x: hidden;overflow-y:hidden;">
    
    <div class="row" style="justify-content: center;" >

        <div class="col-12 col-md-12 col-lg-12" data-aos="">
            <div class="text-center">
        
                <h5 [routerLink]="['/LeaderBoard']"  class="myHeading"><i class="fa fa-trophy myGameIcon"></i>LEADERBOARD GAMES <i class="fa fa-chevron-right myChevronRight"></i></h5>
            
            </div>
            <swiper
            [slidesPerView]="2"
            [slidesPerColumn]="1"
            [lazy]="true"
            [loop]="false"
            [spaceBetween]=""
            [pagination]="{
                dynamicBullets: false,
                clickable: true
              }"
              [breakpoints]="{
                '640': {
                  slidesPerView: 3,
                  spaceBetween: 30,
                  slidesPerColumn:1
                },
                '768': {
                  slidesPerView: 3,
                  spaceBetween: 30,
                  slidesPerColumn:1
                },
                '1024': {
                  slidesPerView: 3,
                  spaceBetween: 30,
                  slidesPerColumn:1
                }
              }"
            class=""
            >
            <ng-container *ngFor="let game of AllGames;">
              <ng-template swiperSlide *ngIf="game.genres.includes('LeaderBoard')">
                <div [routerLink]="['/LeaderBoard',game.id]">
                  <img class="card-img-top swiper-lazy"  [attr.data-src]="game.banner_medium" alt="Game Banner">  
                  <div class="text-center"> 
                      <p class="gameTitle">{{game.title}}</p>
                  </div> 
                  </div>
                  <div class="swiper-lazy-preloader swiper-lazy-preloader-white text-center" ></div>  
            </ng-template>
            </ng-container>
            </swiper>
        </div>

    </div>
</div>



<div class="container" style="overflow-x: hidden;overflow-y:hidden;">
    
    <div class="row" style="justify-content: center;" >

        <div class="col-12 col-md-12 col-lg-12" data-aos="">
            <div class="text-center">
        
                <h5 [routerLink]="['/Popular']"  class="myHeading"><i class="fa fa-star myGameIcon"></i>POPULAR GAMES <i class="fa fa-chevron-right myChevronRight"></i></h5>
            
            </div>
            <swiper
            [slidesPerView]="2"
            [slidesPerColumn]="1"
            [loop]="false"
            [lazy]="true"
            [spaceBetween]=""
            [pagination]="{
                dynamicBullets: false,
                clickable: true
              }"
              [breakpoints]="{
                '640': {
                  slidesPerView: 3,
                  spaceBetween: 30,
                  slidesPerColumn:1
                },
                '768': {
                  slidesPerView: 3,
                  spaceBetween: 30,
                  slidesPerColumn:1
                },
                '1024': {
                  slidesPerView: 3,
                  spaceBetween: 30,
                  slidesPerColumn:1
                }
              }"
            class=""
            >
            <ng-container *ngFor="let game of AllGames;">
              <ng-template swiperSlide *ngIf="game.genres.includes('Popular')">
                <div [routerLink]="['/Popular',game.id]">
                  <img class="card-img-top swiper-lazy"  [attr.data-src]="game.banner_medium" alt="Game Banner">  
                  <div class="text-center"> 
                      <p class="gameTitle">{{game.title}}</p>
                  </div> 
                  </div> 
                  <div class="swiper-lazy-preloader swiper-lazy-preloader-white text-center" ></div> 
            </ng-template>
            </ng-container>
            </swiper>
        </div>

    </div>
</div>



<div class="container" style="overflow-y: hidden;overflow-x: hidden;">

    <div class="row" style="justify-content: center;">
  
        <div class="col-12 col-md-4 col-lg-4 " data-aos="">
            <div class="text-center">
        
                <h5 [routerLink]="['/Action']"  class="myHeading"><i class="fa fa-crosshairs myGameIcon"></i>ACTION GAMES <i class="fa fa-chevron-right myChevronRight"></i></h5>
            
            </div>
            <swiper
                
                [effect]="'cube'"
                [grabCursor]="true"
                [loop]="true"
                [lazy]="true"
                [autoplay]="{
                delay: 300000,
                disableOnInteraction: true
                }"
                [cubeEffect]="{
                shadow: false,
                slideShadows: false,
                shadowOffset: 20,
                shadowScale: 0.94
                }"
                [pagination]="{
                    dynamicBullets: true,
                    clickable: true
                  }"
                class=""
            >
            <ng-container *ngFor="let game of AllGames;">
              <ng-template swiperSlide *ngIf="game.genres.includes('Action')">
                <div [routerLink]="['/Action',game.id]">
                  <img class="card-img-top swiper-lazy"  [attr.data-src]="game.banner_medium" alt="Game Banner">  
                  <div class="text-center"> 
                      <p class="gameTitle">{{game.title}}</p>
                  </div> 
                </div> 
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white text-center" ></div> 
            </ng-template>
            </ng-container>
            </swiper>
        </div>

       

        <div class="col-12 col-md-4 col-lg-4 " data-aos="">
            <div class="text-center">
        
                <h5 [routerLink]="['/Adventure']" class="myHeading"><i class="fa fa-hiking myGameIcon"></i>ADVENTURE GAMES <i class="fa fa-chevron-right myChevronRight"></i></h5>
            
            </div>
            <swiper
            [loop]="true"
            [effect]="'flip'"
            [grabCursor]="true"
            [pagination]="true"
            [lazy]="true"
            [navigation]="true"
            [flipEffect]="{
              slideShadows: false
            }"

            [autoplay]="{
              delay: 300000,
              disableOnInteraction: true
            }"
            [pagination]="{
                dynamicBullets: true,
                clickable: true
              }"
            class=""
          
          >
          <ng-container *ngFor="let game of AllGames;">
            <ng-template swiperSlide *ngIf="game.genres.includes('Adventure')">
              <div [routerLink]="['/Adventure',game.id]">
                <img class="card-img-top swiper-lazy"  [attr.data-src]="game.banner_medium" alt="Game Banner">  
                <div class="text-center"> 
                    <p class="gameTitle">{{game.title}}</p>
                </div>  
              </div>
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white text-center" ></div> 
          </ng-template>
          </ng-container>
            </swiper>
        </div>

        
        <div class="col-12 col-md-4 col-lg-4" data-aos="">
            <div class="text-center">
        
                <h5 [routerLink]="['/Board']" class="myHeading"><i class="fa fa-dice myGameIcon"></i>BOARD GAMES <i class="fa fa-chevron-right myChevronRight"></i></h5>
            
            </div>
            <swiper
                [effect]="'cube'"
                [grabCursor]="true"
                [loop]="true"
                [lazy]="true"
                [autoplay]="{
                delay: 300000,
                disableOnInteraction: true
                }"
                [cubeEffect]="{
                shadow: false,
                slideShadows: false,
                shadowOffset: 20,
                shadowScale: 0.94
                }"
                [pagination]="{
                    dynamicBullets: true,
                    clickable: true
                  }"
                class=""
            >
            <ng-container *ngFor="let game of AllGames;">
              <ng-template swiperSlide *ngIf="game.genres.includes('Board')">
                <div [routerLink]="['/Board',game.id]">
                  <img class="card-img-top swiper-lazy"  [attr.data-src]="game.banner_medium" alt="Game Banner">  
                  <div class="text-center"> 
                      <p class="gameTitle">{{game.title}}</p>
                  </div>  
                </div>
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white text-center" ></div> 
            </ng-template>
            </ng-container>
            </swiper>
        </div>
    </div>
</div>



  <div class="container">
    
    
    
    <div class="row" style="justify-content: center;">

        
        <div class="col-12 col-md-12 col-lg-12" data-aos="">
            <div class="text-center">
        
                <h5 [routerLink]="['/Sports']"  class="myHeading"><i class="fa fa-table-tennis myGameIcon"></i>SPORTS GAMES <i class="fa fa-chevron-right myChevronRight"></i></h5>
            
            </div>
            <swiper
            [slidesPerView]="1"
            [slidesPerColumn]="1"
            [spaceBetween]="30"
            [lazy]="true"
            [loop]="true"
            [pagination]="{
                dynamicBullets: true,
                clickable: true
              }"
              [breakpoints]="{
                '640': {
                  slidesPerView: 3,
                  spaceBetween: 30
                },
                '768': {
                  slidesPerView: 3,
                  spaceBetween: 30
                },
                '1024': {
                  slidesPerView: 3,
                  spaceBetween: 30
                }
              }"
            class="mySwiper"
            >
            <ng-container *ngFor="let game of AllGames;">
              <ng-template swiperSlide *ngIf="game.genres.includes('Sports')">
                <div [routerLink]="['/Sports',game.id]">
                  <img class="card-img-top swiper-lazy"  [attr.data-src]="game.banner_medium" alt="Game Banner">  
                  <div class="text-center"> 
                      <p class="gameTitle">{{game.title}}</p>
                  </div> 
                  </div> 
                  <div class="swiper-lazy-preloader swiper-lazy-preloader-white text-center" ></div> 
            </ng-template>
            </ng-container>
            </swiper>
        </div>

        
        
    </div>
  </div>




  <div class="container">
    
    
    
    <div class="row" style="justify-content: center;">

        <div class="col-12 col-md-4 col-lg-4" data-aos="">
            <div class="text-center">
        
                <h5 [routerLink]="['/Card']"  class="myHeading"><i class="fa fa-border-all myGameIcon"></i>CARD GAMES <i class="fa fa-chevron-right myChevronRight"></i></h5>
            
            </div>
            <swiper
                [effect]="'cube'"
                [grabCursor]="true"
                [loop]="true"
                [lazy]="true"
                [autoplay]="{
                delay: 300000,
                disableOnInteraction: true
                }"
                [cubeEffect]="{
                shadow: false,
                slideShadows: false,
                shadowOffset: 20,
                shadowScale: 0.94
                }"
                [pagination]="{
                    dynamicBullets: true,
                    clickable: true
                  }"
                class=""
            >
            <ng-container *ngFor="let game of AllGames;">
              <ng-template swiperSlide *ngIf="game.genres.includes('Card')">
                <div [routerLink]="['/Card',game.id]">
                  <img class="card-img-top swiper-lazy"  [attr.data-src]="game.banner_medium" alt="Game Banner">  
                  <div class="text-center"> 
                      <p class="gameTitle">{{game.title}}</p>
                  </div> 
                </div> 
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white text-center" ></div> 
            </ng-template>
            </ng-container>
            </swiper>
        </div>

        
        <div class="col-12 col-md-4 col-lg-4" data-aos="">
            <div class="text-center">
        
                <h5 [routerLink]="['/Educational']"  class="myHeading"><i class="fa fa-book-reader myGameIcon"></i>EDUCATIONAL GAMES <i class="fa fa-chevron-right myChevronRight"></i></h5>
            
            </div>
            <swiper
            [loop]="true"
            [effect]="'flip'"
            [lazy]="true"
            [grabCursor]="true"
            [pagination]="true"
            [navigation]="true"
            [flipEffect]="{
              slideShadows: false
            }"

            [autoplay]="{
              delay: 300000,
              disableOnInteraction: true
            }"
            [pagination]="{
                dynamicBullets: true,
                clickable: true
              }"
            class=""
          
          >
          <ng-container *ngFor="let game of AllGames;">
            <ng-template swiperSlide *ngIf="game.genres.includes('Educational')">
              <div [routerLink]="['/Educational',game.id]">
                <img class="card-img-top swiper-lazy"  [attr.data-src]="game.banner_medium" alt="Game Banner">  
                <div class="text-center"> 
                    <p class="gameTitle">{{game.title}}</p>
                </div> 
              </div> 
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white text-center" ></div> 
          </ng-template>
          </ng-container>
            </swiper>
        </div>


        <div class="col-12 col-md-4 col-lg-4" data-aos="">
            <div class="text-center">
        
                <h5 [routerLink]="['/Family']"  class="myHeading"><i class="fa fa-heart myGameIcon"></i>FAMILY GAMES <i class="fa fa-chevron-right myChevronRight"></i></h5>
            
            </div>
            <swiper
                [effect]="'cube'"
                [grabCursor]="true"
                [loop]="true"
                [lazy]="true"
                [autoplay]="{
                delay: 300000,
                disableOnInteraction: true
                }"
                [cubeEffect]="{
                shadow: false,
                slideShadows: false,
                shadowOffset: 20,
                shadowScale: 0.94
                }"
                [pagination]="{
                    dynamicBullets: true,
                    clickable: true
                  }"
                class=""
            >
            <ng-container *ngFor="let game of AllGames;">
              <ng-template swiperSlide *ngIf="game.genres.includes('Family')">
                <div [routerLink]="['/Family',game.id]">
                  <img class="card-img-top swiper-lazy"  [attr.data-src]="game.banner_medium" alt="Game Banner">  
                  <div class="text-center"> 
                      <p class="gameTitle">{{game.title}}</p>
                  </div> 
                </div> 
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white text-center" ></div> 
            </ng-template>
            </ng-container>
            </swiper>
        </div>
    </div>
  </div> 


  
  <div class="container">
    
    
    
    <div class="row" style="justify-content: center;" >

        
        <div class="col-12 col-md-12 col-lg-12" data-aos="">
            <div class="text-center">
        
                <h5 [routerLink]="['/Strategy']"  class="myHeading"><i class="fa fa-hourglass-start myGameIcon"></i>STRATEGY GAMES <i class="fa fa-chevron-right myChevronRight"></i></h5>
            
            </div>
            <swiper
            [slidesPerView]="1"
            [slidesPerColumn]="1"
            [loop]="true"
            [lazy]="true"
            [spaceBetween]="20"
            [pagination]="{
                dynamicBullets: true,
                clickable: true
              }"
              [breakpoints]="{
                '640': {
                  slidesPerView: 3,
                  spaceBetween: 30
                },
                '768': {
                  slidesPerView: 3,
                  spaceBetween: 30
                },
                '1024': {
                  slidesPerView: 3,
                  spaceBetween: 30
                }
              }"
            class="mySwiper"
            >
            <ng-container *ngFor="let game of AllGames;">
              <ng-template swiperSlide *ngIf="game.genres.includes('Strategy')">
                <div [routerLink]="['/Strategy',game.id]">
                  <img class="card-img-top swiper-lazy"  [attr.data-src]="game.banner_medium" alt="Game Banner">  
                  <div class="text-center"> 
                      <p class="gameTitle">{{game.title}}</p>
                  </div>  
                </div>
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white text-center" ></div> 
            </ng-template>
            </ng-container>
            </swiper>
        </div>  
    </div>
  </div> 


   <div class="container">
    
    <div class="row" style="justify-content: center;">

        <div class="col-12 col-md-4 col-lg-4" data-aos="">
            <div class="text-center">
        
                <h5 [routerLink]="['/Memory']"  class="myHeading"><i class="fa fa-brain myGameIcon"></i>MEMORY GAMES <i class="fa fa-chevron-right myChevronRight"></i></h5>
            
            </div>
            <swiper
                [effect]="'cube'"
                [grabCursor]="true"
                [loop]="true"
                [lazy]="true"
                [autoplay]="{
                delay: 300000,
                disableOnInteraction: true
                }"
                [cubeEffect]="{
                shadow: false,
                slideShadows: false,
                shadowOffset: 20,
                shadowScale: 0.94
                }"
                [pagination]="{
                    dynamicBullets: true,
                    clickable: true
                  }"
                class=""
            >
            <ng-container *ngFor="let game of AllGames;">
              <ng-template swiperSlide *ngIf="game.genres.includes('Memory')">
                <div [routerLink]="['/Memory',game.id]">
                  <img class="card-img-top swiper-lazy"  [attr.data-src]="game.banner_medium" alt="Game Banner">  
                  <div class="text-center"> 
                      <p class="gameTitle">{{game.title}}</p>
                  </div>  
                </div>
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white text-center" ></div> 
            </ng-template>
            </ng-container>
            </swiper>
        </div>

        
        <div class="col-12 col-md-4 col-lg-4" data-aos="">
            <div class="text-center">
        
                <h5 [routerLink]="['/Word']"  class="myHeading"><i class="fa fa-book myGameIcon"></i>WORD GAMES <i class="fa fa-chevron-right myChevronRight"></i></h5>
            
            </div>
            <swiper
            [loop]="true"
            [lazy]="true"
            [effect]="'flip'"
            [grabCursor]="true"
            [pagination]="true"
            [navigation]="true"
            [flipEffect]="{
              
              slideShadows: false
            }"

            [autoplay]="{
              delay: 300000,
              disableOnInteraction: true
            }"
            [pagination]="{
                dynamicBullets: true,
                clickable: true
              }"
            class=""
          
          >
          <ng-container *ngFor="let game of AllGames;">
            <ng-template swiperSlide *ngIf="game.genres.includes('Word')">
              <div [routerLink]="['/Word',game.id]">
                <img class="card-img-top swiper-lazy"  [attr.data-src]="game.banner_medium" alt="Game Banner">  
                <div class="text-center"> 
                    <p class="gameTitle">{{game.title}}</p>
                </div>  
                </div>
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white text-center" ></div> 
          </ng-template>
          </ng-container>
            </swiper>
        </div>

        
        <div class="col-12 col-md-4 col-lg-4" data-aos="">
            <div class="text-center">
        
                <h5 [routerLink]="['/Multiplayer']"  class="myHeading"><i class="fa fa-user-friends myGameIcon"></i>MULTIPLAYER GAMES <i class="fa fa-chevron-right myChevronRight"></i></h5>
            
            </div>
            <swiper
                [effect]="'cube'"
                [grabCursor]="true"
                [lazy]="true"
                [loop]="true"
                [autoplay]="{
                delay: 300000,
                disableOnInteraction: true
                }"
                [cubeEffect]="{
                shadow: false,
                slideShadows: false,
                shadowOffset: 20,
                shadowScale: 0.94
                }"
                [pagination]="{
                    dynamicBullets: true,
                    clickable: true
                  }"
                class=""
            >
            <ng-container *ngFor="let game of AllGames;">
              <ng-template swiperSlide *ngIf="game.genres.includes('Multiplayer')">
                <div [routerLink]="['/Multiplayer',game.id]">
                  <img class="card-img-top swiper-lazy"  [attr.data-src]="game.banner_medium" alt="Game Banner">  
                  <div class="text-center"> 
                      <p class="gameTitle">{{game.title}}</p>
                  </div>  
                </div>
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white text-center" ></div> 
            </ng-template>
            </ng-container>
            </swiper>
        </div>
    </div>
  </div> 


  
  
  
  <div class="container"> 
    <div class="row" style="justify-content: center;" >

        
        <div class="col-12 col-md-4 col-lg-12" data-aos="">
            <div class="text-center">
        
                <h5 [routerLink]="['/Puzzle']"  class="myHeading"><i class="fa fa-puzzle-piece myGameIcon"></i>PUZZLE GAMES <i class="fa fa-chevron-right myChevronRight"></i></h5>
            
            </div>
            <swiper
            [slidesPerView]="1"
            [slidesPerColumn]="1"
            [lazy]="true"
            [loop]="true"
            [spaceBetween]="20"
            [pagination]="{
                dynamicBullets: true,
                clickable: true
              }"
              [breakpoints]="{
                '640': {
                  slidesPerView: 3,
                  spaceBetween: 30
                },
                '768': {
                  slidesPerView: 3,
                  spaceBetween: 30
                },
                '1024': {
                  slidesPerView: 3,
                  spaceBetween: 30
                }
              }"
            class="mySwiper"
            >
            <ng-container *ngFor="let game of AllGames;">
              <ng-template  swiperSlide *ngIf="game.genres.includes('Puzzle')">
                <div [routerLink]="['/Puzzle',game.id]">
                  <img class="card-img-top swiper-lazy"  [attr.data-src]="game.banner_medium" alt="Game Banner">  
                  <div class="text-center"> 
                      <p class="gameTitle">{{game.title}}</p>
                  </div> 
                </div> 
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white text-center" ></div> 
            </ng-template>
            </ng-container>
            </swiper>
        </div>  
    </div>
  </div>




  <div class="container">
    
    
    
    <div class="row" style="justify-content: center;" >

        
        <div class="col-12 col-md-4 col-lg-12" data-aos="">
            <div class="text-center">
        
                <h5 [routerLink]="['/Recommended']"  class="myHeading"><i class="fa fa-thumbs-up myGameIcon"></i>RECOMMENDED GAMES <i class="fa fa-chevron-right myChevronRight"></i></h5>
            
            </div>
            <swiper
            [slidesPerView]="1"
            [slidesPerColumn]="1"
            [loop]="true"
            [lazy]="true"
            [spaceBetween]="20"
            [pagination]="{
                dynamicBullets: true,
                clickable: true
              }"
              [breakpoints]="{
                '640': {
                  slidesPerView: 3,
                  spaceBetween: 30
                },
                '768': {
                  slidesPerView: 3,
                  spaceBetween: 30
                },
                '1024': {
                  slidesPerView: 3,
                  spaceBetween: 30
                }
              }"
            class=""
            >
            <ng-container *ngFor="let game of AllGames;">
              <ng-template  swiperSlide *ngIf="game.genres.includes('Recommended')">
                  <div [routerLink]="['/Recommended',game.id]">
                    <img  class="card-img-top swiper-lazy"  [attr.data-src]="game.banner_medium" alt="Game Banner">  
                    <div class="text-center"> 
                    <p class="gameTitle">{{game.title}}</p>
                  </div> 
                  </div> 
                  <div class="swiper-lazy-preloader swiper-lazy-preloader-white text-center"  ></div> 
            </ng-template>
            </ng-container>
            </swiper>
        </div>  
    </div>
  </div>  


 