<!-- FEATURED GAMES -->


<div class="container" style="overflow-x: hidden;overflow-y:hidden;">
    
    <div class="row" style="justify-content: center;" >

        <div class="col-12 col-md-12 col-lg-12" data-aos="flip-left">
            <div class="text-center">
        
                <h5 class="myHeading">FEATURED GAMES</h5>
            
            </div>
            <swiper
            [effect]="'coverflow'"
            [grabCursor]="true"
            [loop]="true"
            [centeredSlides]="true"
            [slidesPerView]="3"
            [coverflowEffect]="{
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: false
            }"
            [pagination]="true"
            class="mySwiper"
            >
            <ng-template swiperSlide *ngFor="let game of FeaturedGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>

    </div>
</div>



<!-- LEADERBOARD GAMES -->


<div class="container" style="overflow-x: hidden;overflow-y:hidden;">
    
    <div class="row" style="justify-content: center;" >

        <div class="col-12 col-md-12 col-lg-12" data-aos="flip-left">
            <div class="text-center">
        
                <h5 class="myHeading">LEADERBOARD GAMES</h5>
            
            </div>
            <swiper
            [effect]="'coverflow'"
            [grabCursor]="true"
            [loop]="true"
            [centeredSlides]="true"
            [slidesPerView]="3"
            [coverflowEffect]="{
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: false
            }"
            [pagination]="true"
            class="mySwiper"
            >
            <ng-template swiperSlide *ngFor="let game of LeaderBoardGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>

    </div>
</div>


<!-- POPULAR GAMES -->
<div class="container" style="overflow-x: hidden;overflow-y:hidden;">
    
    <div class="row" style="justify-content: center;" >

        <div class="col-12 col-md-12 col-lg-12" data-aos="flip-left">
            <div class="text-center">
        
                <h5 class="myHeading">POPULAR GAMES</h5>
            
            </div>
            <swiper
            [slidesPerView]="3"
            [slidesPerColumn]="1"
            [spaceBetween]="20"
            [loop]="true"
            [pagination]="{
                dynamicBullets: true
              }"
            class="mySwiper"
            >
            <ng-template swiperSlide *ngFor="let game of StrategyGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>

    </div>
</div>


<div class="container" style="overflow-y: hidden;overflow-x: hidden;">

    <div class="row" style="justify-content: center;">
  
        <div class="col-12 col-md-4 col-lg-4 " data-aos="flip-left">
            <div class="text-center">
        
                <h5 class="myHeading">ACTION GAMES</h5>
            
            </div>
            <swiper
                
                [effect]="'cube'"
                [grabCursor]="true"
                [loop]="true"
                [autoplay]="{
                delay: 300000,
                disableOnInteraction: true
                }"
                [cubeEffect]="{
                shadow: false,
                slideShadows: false,
                shadowOffset: 20,
                shadowScale: 0.94
                }"
                [pagination]="{
                    dynamicBullets: true
                  }"
                class=""
            >
            <ng-template swiperSlide *ngFor="let game of ActionGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>

        <div class="col-12 col-md-4 col-lg-4 " data-aos="flip-left">
            <div class="text-center">
        
                <h5 class="myHeading">ADVENTURE GAMES</h5>
            
            </div>
            <swiper
            [loop]="true"
            [effect]="'flip'"
            [grabCursor]="true"
            [pagination]="true"
            [navigation]="true"
            [flipEffect]="{
              
              slideShadows: false
            }"

            [autoplay]="{
              delay: 300000,
              disableOnInteraction: true
            }"
            [pagination]="{
                dynamicBullets: true
              }"
            class=""
          
          >
            <ng-template swiperSlide *ngFor="let game of AdventureGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>

        <div class="col-12 col-md-4 col-lg-4" data-aos="flip-left">
            <div class="text-center">
        
                <h5 class="myHeading">BOARD GAMES</h5>
            
            </div>
            <swiper
                [effect]="'cube'"
                [grabCursor]="true"
                [loop]="true"
                [autoplay]="{
                delay: 300000,
                disableOnInteraction: true
                }"
                [cubeEffect]="{
                shadow: false,
                slideShadows: false,
                shadowOffset: 20,
                shadowScale: 0.94
                }"
                [pagination]="{
                    dynamicBullets: true
                  }"
                class=""
            >
            <ng-template swiperSlide *ngFor="let game of BoardGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>
    </div>
</div>



  <div class="container">
    
    
    
    <div class="row" style="justify-content: center;">

        
        <div class="col-12 col-md-12 col-lg-12" data-aos="flip-left">
            <div class="text-center">
        
                <h5 class="myHeading">SPORTS GAMES</h5>
            
            </div>
            <swiper
            [slidesPerView]="3"
            [slidesPerColumn]="1"
            [spaceBetween]="20"
            [pagination]="{
                dynamicBullets: true
              }"
            class="mySwiper"
            >
            <ng-template swiperSlide *ngFor="let game of SportsGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>

        
        
    </div>
  </div>




  <div class="container">
    
    
    
    <div class="row" style="justify-content: center;">

        
        <div class="col-12 col-md-4 col-lg-4" data-aos="flip-left">
            <div class="text-center">
        
                <h5 class="myHeading">CARD GAMES</h5>
            
            </div>
            <swiper
                [effect]="'cube'"
                [grabCursor]="true"
                [loop]="true"
                [autoplay]="{
                delay: 300000,
                disableOnInteraction: true
                }"
                [cubeEffect]="{
                shadow: false,
                slideShadows: false,
                shadowOffset: 20,
                shadowScale: 0.94
                }"
                [pagination]="{
                    dynamicBullets: true
                  }"
                class=""
            >
            <ng-template swiperSlide *ngFor="let game of ActionGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>

        <div class="col-12 col-md-4 col-lg-4" data-aos="flip-left">
            <div class="text-center">
        
                <h5 class="myHeading">EDUCATIONAL GAMES</h5>
            
            </div>
            <swiper
            [loop]="true"
            [effect]="'flip'"
            [grabCursor]="true"
            [pagination]="true"
            [navigation]="true"
            [flipEffect]="{
              
              slideShadows: false
            }"

            [autoplay]="{
              delay: 300000,
              disableOnInteraction: true
            }"
            [pagination]="{
                dynamicBullets: true
              }"
            class=""
          
          >
            <ng-template swiperSlide *ngFor="let game of AdventureGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>

        <div class="col-12 col-md-4 col-lg-4" data-aos="flip-left">
            <div class="text-center">
        
                <h5 class="myHeading">FAMILY GAMES</h5>
            
            </div>
            <swiper
                [effect]="'cube'"
                [grabCursor]="true"
                [loop]="true"
                [autoplay]="{
                delay: 300000,
                disableOnInteraction: true
                }"
                [cubeEffect]="{
                shadow: false,
                slideShadows: false,
                shadowOffset: 20,
                shadowScale: 0.94
                }"
                [pagination]="{
                    dynamicBullets: true
                  }"
                class=""
            >
            <ng-template swiperSlide *ngFor="let game of BoardGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>
    </div>
  </div>

  <div class="container">
    
    
    
    <div class="row" style="justify-content: center;" >

        
        <div class="col-12 col-md-12 col-lg-12" data-aos="flip-left">
            <div class="text-center">
        
                <h5 class="myHeading">STRATEGY GAMES</h5>
            
            </div>
            <swiper
            [slidesPerView]="3"
            [slidesPerColumn]="1"
            [spaceBetween]="20"
            [pagination]="{
                dynamicBullets: true
              }"
            class="mySwiper"
            >
            <ng-template swiperSlide *ngFor="let game of StrategyGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>

        
        
    </div>
  </div>


  <div class="container">
    
    
    
    <div class="row" style="justify-content: center;">

        <div class="col-12 col-md-4 col-lg-4" data-aos="flip-left">
            <div class="text-center">
        
                <h5 class="myHeading">MEMORY GAMES</h5>
            
            </div>
            <swiper
                [effect]="'cube'"
                [grabCursor]="true"
                [loop]="true"
                [autoplay]="{
                delay: 300000,
                disableOnInteraction: true
                }"
                [cubeEffect]="{
                shadow: false,
                slideShadows: false,
                shadowOffset: 20,
                shadowScale: 0.94
                }"
                [pagination]="{
                    dynamicBullets: true
                  }"
                class=""
            >
            <ng-template swiperSlide *ngFor="let game of MemoryGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>

        <div class="col-12 col-md-4 col-lg-4" data-aos="flip-left">
            <div class="text-center">
        
                <h5 class="myHeading">WORD GAMES</h5>
            
            </div>
            <swiper
            [loop]="true"
            [effect]="'flip'"
            [grabCursor]="true"
            [pagination]="true"
            [navigation]="true"
            [flipEffect]="{
              
              slideShadows: false
            }"

            [autoplay]="{
              delay: 300000,
              disableOnInteraction: true
            }"
            [pagination]="{
                dynamicBullets: true
              }"
            class=""
          
          >
            <ng-template swiperSlide *ngFor="let game of WordGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>

        <div class="col-12 col-md-4 col-lg-4" data-aos="flip-left">
            <div class="text-center">
        
                <h5 class="myHeading">MULTIPLAYER GAMES</h5>
            
            </div>
            <swiper
                [effect]="'cube'"
                [grabCursor]="true"
                [loop]="true"
                [autoplay]="{
                delay: 300000,
                disableOnInteraction: true
                }"
                [cubeEffect]="{
                shadow: false,
                slideShadows: false,
                shadowOffset: 20,
                shadowScale: 0.94
                }"
                [pagination]="{
                    dynamicBullets: true
                  }"
                class=""
            >
            <ng-template swiperSlide *ngFor="let game of MultiplayerGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>
    </div>
  </div>

  <div class="container">
    
    
    
    <div class="row" style="justify-content: center;" >

        
        <div class="col-12 col-md-4 col-lg-12" data-aos="flip-left">
            <div class="text-center">
        
                <h5 class="myHeading">PUZZLE GAMES</h5>
            
            </div>
            <swiper
            [slidesPerView]="3"
            [slidesPerColumn]="1"
            [spaceBetween]="20"
            [pagination]="{
                dynamicBullets: true
              }"
            class="mySwiper"
            >
            <ng-template swiperSlide *ngFor="let game of PuzzleGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>

        
        
    </div>
  </div>




  <!-- Recommended Games -->
  <div class="container">
    
    
    
    <div class="row" style="justify-content: center;" >

        
        <div class="col-12 col-md-4 col-lg-12" data-aos="flip-left">
            <div class="text-center">
        
                <h5 class="myHeading">RECOMMENDED GAMES</h5>
            
            </div>
            <swiper
            [slidesPerView]="3"
            [slidesPerColumn]="1"
            [spaceBetween]="20"
            [pagination]="{
                dynamicBullets: true
              }"
            class=""
            >
            <ng-template swiperSlide *ngFor="let game of RecommendedGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>

        
        
    </div>
  </div>