<!-- <app-carousel></app-carousel> -->
<!-- <app-feature-games></app-feature-games>
<app-leader-board-games></app-leader-board-games>
<app-categories></app-categories> -->




<div class="container">
    
    
    
    <div class="row" style="justify-content: center;">

        
        <div class="col-12 col-md-4 col-lg-4 ">
            <div class="text-center">
        
                <h4 class="myHeading">ACTION GAMES</h4>
            
            </div>
            <swiper
                [effect]="'cube'"
                [grabCursor]="true"
                [loop]="true"
                [autoplay]="{
                delay: 300000,
                disableOnInteraction: true
                }"
                [cubeEffect]="{
                shadow: false,
                slideShadows: false,
                shadowOffset: 20,
                shadowScale: 0.94
                }"
                [pagination]="{
                    dynamicBullets: true
                  }"
                class=""
            >
            <ng-template swiperSlide *ngFor="let game of ActionGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>

        <div class="col-12 col-md-4 col-lg-4 ">
            <div class="text-center">
        
                <h4 class="myHeading">ADVENTURE GAMES</h4>
            
            </div>
            <swiper
            [loop]="true"
            [effect]="'flip'"
            [grabCursor]="true"
            [pagination]="true"
            [navigation]="true"
            [flipEffect]="{
              
              slideShadows: false
            }"

            [autoplay]="{
              delay: 300000,
              disableOnInteraction: true
            }"
            [pagination]="{
                dynamicBullets: true
              }"
            class=""
          
          >
            <ng-template swiperSlide *ngFor="let game of AdventureGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>

        <div class="col-12 col-md-4 col-lg-4 ">
            <div class="text-center">
        
                <h4 class="myHeading">BOARD GAMES</h4>
            
            </div>
            <swiper
                [effect]="'cube'"
                [grabCursor]="true"
                [loop]="true"
                [autoplay]="{
                delay: 300000,
                disableOnInteraction: true
                }"
                [cubeEffect]="{
                shadow: false,
                slideShadows: false,
                shadowOffset: 20,
                shadowScale: 0.94
                }"
                [pagination]="{
                    dynamicBullets: true
                  }"
                class=""
            >
            <ng-template swiperSlide *ngFor="let game of BoardGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>
    </div>
  </div>

  <div class="container">
    
    
    
    <div class="row" style="justify-content: center;">

        
        <div class="col-12 col-md-4 col-lg-4 ">
            <div class="text-center">
        
                <h4 class="myHeading">CARD GAMES</h4>
            
            </div>
            <swiper
                [effect]="'cube'"
                [grabCursor]="true"
                [loop]="true"
                [autoplay]="{
                delay: 300000,
                disableOnInteraction: true
                }"
                [cubeEffect]="{
                shadow: false,
                slideShadows: false,
                shadowOffset: 20,
                shadowScale: 0.94
                }"
                [pagination]="{
                    dynamicBullets: true
                  }"
                class=""
            >
            <ng-template swiperSlide *ngFor="let game of ActionGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>

        <div class="col-12 col-md-4 col-lg-4 ">
            <div class="text-center">
        
                <h4 class="myHeading">EDUCATIONAL GAMES</h4>
            
            </div>
            <swiper
            [loop]="true"
            [effect]="'flip'"
            [grabCursor]="true"
            [pagination]="true"
            [navigation]="true"
            [flipEffect]="{
              
              slideShadows: false
            }"

            [autoplay]="{
              delay: 300000,
              disableOnInteraction: true
            }"
            [pagination]="{
                dynamicBullets: true
              }"
            class=""
          
          >
            <ng-template swiperSlide *ngFor="let game of AdventureGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>

        <div class="col-12 col-md-4 col-lg-4 ">
            <div class="text-center">
        
                <h4 class="myHeading">FAMILY GAMES</h4>
            
            </div>
            <swiper
                [effect]="'cube'"
                [grabCursor]="true"
                [loop]="true"
                [autoplay]="{
                delay: 300000,
                disableOnInteraction: true
                }"
                [cubeEffect]="{
                shadow: false,
                slideShadows: false,
                shadowOffset: 20,
                shadowScale: 0.94
                }"
                [pagination]="{
                    dynamicBullets: true
                  }"
                class=""
            >
            <ng-template swiperSlide *ngFor="let game of BoardGames;">
                    <img class="card-img-top"  src="{{game.banner_medium}}" alt="Game Banner Medium">  
                    <div class="text-center"> 
                        <p class="gameTitle">{{game.title}}</p>
                    </div>      
            </ng-template>
            </swiper>
        </div>
    </div>
  </div>
