
@font-face{
    font-family:"EvolveSansThin";
    src:local("EvolveSansThin"),url(/assets/Fonts/MADE_Evolve_Sans_Thin.otf) format("truetype");
}

@font-face{
    font-family:"EvolveSansRegularEVO";
    src:local("EvolveSansRegularEVO"),url(/assets/Fonts/MADE_Evolve_Sans_Regular_EVO.otf) format("truetype");
}
  
@font-face{
    font-family:"EvolveSansMedium";
    src:local("EvolveSansMedium"),url(/assets/Fonts/MADE_Evolve_Sans_Medium.otf) format("truetype");
}

@font-face{
    font-family:"EvolveSansBold";
    src:local("EvolveSansBold"),url(/assets/Fonts/MADE_Evolve_Sans_Bold.otf) format("truetype");
}
        
       
.myHeading{
    font-family:"EvolveSansThin";
    letter-spacing: 0.1em;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #c0302d;
    color: white;
    justify-content: center;
    
}


.gameTitle{
    font-family:"EvolveSansThin";
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight:bold;
}


.myChevron{
    float: right;
    margin: auto;
}

.myGameIcon{
    float: left;
    margin: auto;
}

@media screen and (max-width: 480px) {
    .myHeading {
        font-size: 20px;
    }
    .gameTitle{
        font-size: 14px;
    }
  }

.card-img-top{
    border-radius: 0 !important;
}


button {
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    color: #fff;
    font-weight: 500;
  }
  .dropdown .button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 0.35rem;
    background-color: #6366f1;
  }
  .dropdown .arrow {
    width: 1.25rem;
    margin-left: auto;
    fill: currentColor;
  }
  .dropdown .menu {
    position: absolute;
    width: 100%;
    z-index: 100;
  }
  .dropdown .menu ul {
    margin-top: 0.5rem;
    padding: 0.5rem 0;
    border-radius: 0.35rem;
    background-color: #4f46e5;
    list-style: none;
    z-index: 99999999;
  }
  .dropdown .menu ul li {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
  }
  .dropdown .menu ul li:hover {
    background-color: #4338ca;
  }
  .dropdown .menu ul li img {
    width: 1.35rem;
    height: 1.35rem;
    border-radius: 50%;
    margin-right: 0.75rem;
  }
  
  .dropdown .arrow {
    transition: transform 0.2s;
  }
  .dropdown .menu {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
  .dropdown:hover .arrow {
    transform: rotate(180deg);
  }
  .dropdown:hover .menu {
    opacity: 1;
    visibility: visible;
  }
  
  .dropdown--slide .menu {
    transform: translateY(1rem);
  }
  .dropdown--slide:hover .menu {
    transform: translateY(0);
  }
  
  .dropdown--scale .menu {
    transform: scaleY(0);
    transform-origin: top;
  }
  .dropdown--scale:hover .menu {
    transform: scaleY(1);
  }
  
  .dropdown--zoom .menu {
    transform: translate(-2rem, -2.5rem) scale(0);
    transform-origin: top right;
  }
  .dropdown--zoom:hover .menu {
    transform: translate(0) scale(1);
  }
  
  .dropdown--rotate {
    perspective: 1000px;
  }
  .dropdown--rotate .menu {
    transform: rotate3d(1, 0, 0, -90deg);
    transform-origin: top left;
  }
  .dropdown--rotate:hover .menu {
    transform: rotate3d(0, 0, 0, 0);
  }
  